
html,
body {
  background-color: #FDFDFD;
  font-size: 10px;
}

.footer {
  height: 40px;
  background-color: #222;
  /*padding: 0px;*/
  /*margin: 0px;*/
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

td {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
}

th {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
}

tr {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
}

.sticky_table thead th {
  /* 縦スクロール時に固定する */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  /* tbody内のセルより手前に表示する */
  z-index: 1;
}
